{% load static %}

<!-- Barra de navegacion lateral -->

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <!-- Brand Logo -->
    <a href="{% url 'adminhome:adminhome' %}" class="brand-link"> <img src="{% static 'adminhome/img/dbox.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> <span class="brand-text font-weight-light"> DROP BOX </span> </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'adminhome/img/valeria.jpg'%}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Valeria Canedo</a>
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
                <li class="nav-header">MISCELLANEOUS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> <i class="fa-cash-register fas nav-icon"></i>
                        <p>Modulo Ventas<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">

                            <!-- EN LA URL SE PONE LA CAPTETA DE LA APP Y SE BUSCA EL NOMBRE DADO EN LA URLS.PY DE LA CARPETA DE LA APP -->
                            <a href="{% url 'venta:categorialista' %}" class="nav-link"> <i class="fas fa-align-left"></i>
                                <p>Categorias</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fas fa-shopping-basket"></i>
                                <p>Productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fas fa-users"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'venta:ventas' %}" class="nav-link"> <i class="fas fa-money-bill"></i>
                                <p>Ventas</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fas fa-file-invoice-dollar"></i>
                                <p>Detalle Ventas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>